@model Viajemos.Web.Models.LibroViewModel

@{
    ViewData["Title"] = "Create";
}

<h2>Crear Libro</h2>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="AddLibro">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="AutorId" />

            <div class="form-group">
                <label asp-for="EditorialId" class="control-label"></label>
                <select asp-for="EditorialId" asp-items="Model.Editorials" class="form-control"></select>
                <span asp-validation-for="EditorialId" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Titulo" class="control-label"></label>
                <input asp-for="Titulo" class="form-control" />
                <span asp-validation-for="Titulo" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Sinopsis" class="control-label"></label>
                <input asp-for="Sinopsis" class="form-control" />
                <span asp-validation-for="Sinopsis" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Paginas" class="control-label"></label>
                <input asp-for="Paginas" class="form-control" />
                <span asp-validation-for="Paginas" class="text-danger"></span>
            </div>

            <div class="form-group">
                <input type="submit" value="Crear" class="btn btn-primary" />
                <a asp-action="Details" asp-route-id="@Model.AutorId" class="btn btn-success">Regresar al Autor</a>
            </div>
        </form>
    </div>
</div>
